.h1Saludo{
  font-size: 1.5rem;
  text-align: center;
  color: #000000ba;
}
.contador{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.ListaPersonajes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.itemDetail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.15);
  color: #000000ba;
  padding: 10px; 
}
.itemDetail__img{
  width: 40%;
  border-radius: 15px;
  padding: 10px;
  margin-left: 100px;
}
.error404{
  display: flex;
  align-items: center;
  flex-direction: column; 
  margin-top: 10rem;
}
.error404 h1{
  font-size: 70px;
}
.error404 p {
  font-size: 40px;
}
.buttonItem{
  text-decoration: none;
  color: #787A91;
  border-radius: 15px;
  transition: 0.7s;
}
.buttonItem:hover{
  color: white;
  background-color:rgba(0, 0, 0, 0.126);
}
.buttonCategoriasItem{
  color: #787A91;
  text-decoration: none;
}
.pagination{
  display: flex;
  justify-content: center;
  padding: 30px;
  color: rgb(0, 9, 44);
}
.flexPriceButton{
  display: flex;
  justify-content: center;
}
.itemDetail__p{
   padding: 50px;
   margin-right: 100px;
}