.h1Saludo{
  font-size: 1.5rem;
  text-align: center;
}
.contador{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.ListaPersonajes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.itemDetail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(0, 9, 44);
  color: #fff;
}
.itemDetail__img{
  width: 40%;
  border-radius: 15px;
  padding: 10px;
}
